<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand text-nav">Bloggers</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"
             aria-current="page"
             [routerLink]="['/']">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             (click)="openDialog()"
             *ngIf="!login">
            LogIn
          </a>
          <a class="nav-link"
             aria-current="page"
             (click)="logout()"
             *ngIf="login">
            LogOut
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               [(ngModel)]="searchValue"
               [ngModelOptions]="{standalone: true}"
               (keyup)="search()"
               [hidden]="!searchInput">
      </form>
    </div>
  </div>
</nav>
