<h2 mat-dialog-title>LogIn</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ngForm">

    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput autocomplete="off" formControlName="email">
      <mat-error *ngIf="ngForm.controls['email'].hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="ngForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="off" formControlName="password" type="password">
      <mat-error *ngIf="ngForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Close
  </button>
  <button mat-button cdkFocusInitial [disabled]="!ngForm.valid" (click)="login()">
    LogIn
  </button>
</mat-dialog-actions>
