<div *ngIf="loading">
  <div class="row">
    <div class="col">
      <app-nav-bar [searchInput]="false"
                   (logged)="logged($event)">
      </app-nav-bar>
    </div>
  </div>
  <mat-divider class="mt-3 mb-3"></mat-divider>
  <div class="row">
    <div class="col">
      <h1>{{ posts.title }}</h1>
      <h5>{{ posts.body }}</h5>
      <mat-divider class="mt-3 mb-3"></mat-divider>
      <h3>Leave your comment</h3>
      <form [formGroup]="ngForm">
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput autocomplete="off" formControlName="name">
          <mat-error *ngIf="ngForm.controls['name'].hasError('required')">
            Your Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput autocomplete="off" formControlName="email">
          <mat-error *ngIf="ngForm.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="ngForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="body"></textarea>
          <mat-error *ngIf="ngForm.controls['body'].hasError('required')">
            Comments are <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-fab color="primary" (click)="sendComment()" [disabled]="!ngForm.valid">
          <mat-icon>send</mat-icon>
        </button>
      </form>

    </div>
    <div class="col">
      <div class="card mb-3" *ngFor="let com of comments">
        <h5 class="card-header">{{ com.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ com.email }}</h5>
          <p class="card-text">{{ com.body }}</p>
          <button mat-mini-fab color="primary" class="m-1" *ngIf="login" (click)="editComment(com.id)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-mini-fab color="warn" *ngIf="login" (click)="delete(com.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar mode="indeterminate" [hidden]="loading"></mat-progress-bar>
