<div *ngIf="filtersLoaded | async">
  <div class="row">
    <div class="col">
      <app-nav-bar [postsOrig]="postsOrig"
                   [searchInput]="true"
                   (posts)="search($event)">
      </app-nav-bar>
    </div>
  </div>
  <mat-divider class="mt-3 mb-3"></mat-divider>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3"
         *ngFor="let post of posts | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ (post.title | slice:0:25) + '..' }}</h5>
          <p class="card-text">{{ (post.body | slice:0:50) + '..' }}</p>
          <button mat-mini-fab
                  color="accent"
                  [routerLink]="['/post/' + post.id]">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-paginator [length]="numberOfPages()"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="pageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>
<mat-progress-bar mode="indeterminate" [hidden]="!!filtersLoaded"></mat-progress-bar>
