@import url('https://fonts.googleapis.com/css?family=Sacramento');
.top-bar {
  position: static;
  height: 100%;
  box-shadow: 0px 0px 5px 1px grey;
  display: flex;
  align-items: center;
}

.img-top-bar {
  background-image: url("~src/assets/images/top3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-top {
  position: absolute;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 20vw;
  font-family: "Sacramento";
}
